<div class="main-header">
    <h3 style="text-align: center;">
        <a href="/">Copyright © Chris Price Music</a>
    </h3>
    <br>
    <div style="text-align: center;">
        <a href="/music">Music</a>
        <a href="https://chrispricemusic.net" target="_blank">Publishing</a>
        <a href="/portfolio">Portfolio</a>
        <a href="/lessons">Lessons</a>
        <a href="/commission">Commission</a>
        <a href="/events">Events</a>
        <a href="/blog">Blog</a>
    </div>
    <br>
    <div style="text-align: center;">
        <a href="/programming">Programming</a>
        <a href="/programming-portfolio">Portfolio</a>
        <a href="/hire-me">Hire-Me</a>
        <a href="/blog">Blog</a>
    </div>
    <br>
    <br>
</div>