<div id="popup">
  <div class="popup-card">
    <p id="popup-text">Added to cart!</p>
    <button id="popup-close">Close</button>
    <button onclick="window.location='/cart'">View Cart</button>
  </div>
</div>

<div class="main-header">
    <% if(user) { %>
        <div style="text-align: center;">
            Admin tools:
            <a href="/logout">Logout</a>
            <a href="/edit-events">Events</a>
            <a href="/edit-portfolio">Portfolio</a>
            <a href="/edit-blog">Blog</a>
            <a href="/edit-programming">Programming</a>
            <a href="/edit-quizzes">Quiz</a>
            <a href="/edit-invoices">Invoices</a>
            <a href="/edit-merch">Merch</a>
        </div>
        <br>
    <% } %>
    <div style="
    position: fixed;
    top: 2px;
    left: 2px;
    z-index: 1000;
    display: flex;
    align-items: center;
    ">
        <a href="/cart" style="font-size: 1.5rem; display: flex; align-items: center; gap: 0.5rem;">
            <ion-icon name="cart-outline"></ion-icon> <span id="cart-number"><%= cart.length %></span>
        </a>
    </div>

    <div style="text-align: center;">
        <a href="/">
            <img src="/img/chris.jpg" alt="Chris Price at his piano" style="width: 196px; height: 196px; border-radius: 50%; border: solid 3px #fff;">
        </a>
    </div>
    <h1 style="text-align: center;"><i>Chris Price • Music & Media</i></h1>
    <p style="text-align: center;">Composer • Arranger • Programmer</p>
    <div style="
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 12px 0;
        ">
        <a href="/merch" style="font-size: 1.5rem; display: flex; align-items: center; gap: 0.5rem;">
            <ion-icon name="bag-outline"></ion-icon> Merch Store
        </a>
    </div>
    <div style="text-align: center; padding-top: 16px; font-size: x-large;">
        <a href="/youtube"><ion-icon name="logo-youtube"></ion-icon></a>
        <a href="https://www.linkedin.com/in/ceprice/" target="_blank"><ion-icon name="logo-linkedin"></ion-icon></a>
        <a href="https://www.instagram.com/chris.price.music/" target="_blank"><ion-icon name="logo-instagram"></ion-icon></a>
        <a href="https://www.tiktok.com/@chrispricemusic_?lang=en" target="_blank"><ion-icon name="logo-tiktok"></ion-icon></a>
        <a href="https://www.reddit.com/user/ChrisPriceMusic/" target="_blank"><ion-icon name="logo-reddit"></ion-icon></a>
        <a href="https://www.facebook.com/chrispricecomposer" target="_blank"><ion-icon name="logo-facebook"></ion-icon></a>
        <a href="/contact"><ion-icon name="mail-outline"></ion-icon></a>
    </div>
    <% if(typeof header !== "undefined") { %>
        <% if(header == "music") { %>
            <div style="text-align: center;">
                <a href="/music">Music</a>
                <a href="https://chrispricemusic.net" target="_blank">Publishing</a>
                <a href="/portfolio">Portfolio</a>
                <a href="/lessons">Lessons</a>
                <a href="/commission">Commission</a>
                <a href="/events">Events</a>
                <a href="/quizzes">Quizzes</a>
                <a href="/blog">Blog</a>
            </div>
        <% } else { %>
            <div style="text-align: center;">
                <a href="/programming">Programming</a>
                <a href="/programming-portfolio">Portfolio</a>
                <a href="/hire-me">Hire-Me</a>
                <a href="/blog">Blog</a>
            </div>
        <% } %>
    <% } %>
</div>