<html class="home">
<head>
    <%- include("includes/head") %>
</head>
<body>
    <header>
        <%- include("includes/header") %>
    </header>
    <main class="main">
        
    </main>
    <footer>
        <%- include("includes/footer") %>
    </footer>
</body>

<h1>It Keeps Going</h1>
<br>
<p>At the start of this year I started working for myself. I say that, but when I say myself I mean for everyone else. I don't have one person to report to for work, but rather several clients. Each day I'm juggling doing one task after the other, switching gears and switching ideas. I bounce between running websites, composing for ensembles, and taking videos to post on Instagram for a business. While it is a lot, I don't let myself stop.</p>
<br>
<p>I'm a strong believer that success is motion. I got asked during an interview with the Central Valley High School athletic director on what success meant. The word "winning" never came to my mind. I thought of success as action. On days where I'm creating things into the world, I feel as if I've succeeded. Some days I'll learn a few difficult pieces on piano, and with that, I felt like action was taken.</p>
<br>
<p>We live in an era where everyone and everything is trying to grab your attention. I got hired to create a goal setting app, where users can track progress on goals that they've made in several different ways. To test the app, I started using it myself, knowing that my phone usage is something that's hindering me. After clicking that "Create Goal" button and entering what I want to do, I checked my phone's usage to log my first day towards lower phone usage. The sound of my jaw hitting the floor was probably enough to cause concern from my roomate. 9 hours.</p>
<br>
<p>I've always thought of myself as someone who can't get sucked into these kinds of things. A big part of myself that I'm proud of is never sitting in front of a TV or playing video games. As you can see, I'm a fool for thinking this while having so many hours sucked away by this device. The worst part, the day I logged 9 hours was the day that I thought I was productive. I looked back at all the times I would sit down for a "small break" only to realize I've been wasting so much time.</p>
<br>
<p>I've helped many people who have come to me looking to overcome their addictions. Porn, alcohol, other drugs were always something that devoured them. My first suggestion is to hang with me instead when you feel those urges. "Let's go play pickleball" was my favorite line to use. Your attention and energy is your allowance for the day. You can spend it on whatever you'd like, but certain things may not give you a good return on investment and some things may take away your entire allowance for the day. By building things instead, our allowance seems to carry over. Putting things into the world is what keeps us from our addictions.</p>
<br>
<p>Humans are fascinating creatures, always trying to have a purpose in life. When we don't give ourselves a purpose, other people will. It's harder than ever before today with psychologists who work for casinos are designing apps to make us more addicted than ever before. There's are two things these apps can never give us, love from friends, and satisfaction of creating.</p>
<br>
<p>Go do something, go create something, be a part of something big.</p>

</html>

