<html class="home">
<head>
    <%- include("includes/head") %>
</head>
<body>
    <header>
        <%- include("includes/header") %>
    </header>
    <main class="main">
        
    </main>
    <footer>
        <%- include("includes/footer") %>
    </footer>
</body>



</html>
