<html class="home">
<head>
    <%- include("includes/head") %>
</head>
<body>
    <header>
        <%- include("includes/header") %>
    </header>
    <main>
        <div class="home-grid">
            <div onclick="window.location.href='/music'">
                <h1>Music</h1>
                <span class="music-line">𝄞 ♪ ♫ ♩ ♬ 𝆏 ♭ ♯ 𝄫 ♮</span>
                <span class="music-line">♩ ♪ 𝄶 ♬ ♯ 𝄢 𝄡 ♫ </span>
                <span class="music-line">♫ ♭ ♩ 𝄴 ♫ ♮ 𝄞 𝄡</span>
                <span class="music-line">♩ ♩ ♫ 𝄢 ♯ ♪ 𝆑 𝄆</span>
                <span class="music-line">♪ 𝄞 ♫ 𝅗𝅥 ♩ ♯ 𝄇 ♬</span>
            </div>
            <div onclick="window.location.href='/programming'">
                <h1>Programming</h1>
                <span class="binary-line-center">
                    01110000 01110010 01101111 01100111 01110010 01100001 01101101 01101101 01100101 01110010
                </span>
            </div>
        </div>
    </main>
</body>
</html>