<html class="home">
<head>
    <%- include("includes/head") %>
</head>
<body>
    <header>
        <%- include("includes/header") %>
    </header>
    <main class="main">
        <div style="padding: 8px;">
            <br>
            <h1 style="text-align: center;">We Got Your Order!</h1>
            <br>
            <p>You'll be receiving an email on your purchase and when the order is ready, you'll get a tracking number!</p>
            <br>
            <p>Thank you so much for your support!</p>
        </div>
    </main>
    <footer>
        <%- include("includes/footer") %>
    </footer>
</body>



</html>

