<html class="home">
<head>
    <%- include("includes/head") %>
</head>
<body>
    <header>
        <%- include("includes/header") %>
    </header>
    <main class="main">
        <br>
        <h1 style="text-align: center;">Thank You</h1>
        <br>
        <div style="text-align: center;">
            <p>I'll get back to ASAP!</p>
            <br>
            <a href="/"><button>Return Home</button></a>
        </div>
    </main>
    <footer>
        <%- include("includes/footer") %>
    </footer>
</body>
</html>